<section class="m-4">
  <h1 class="display-3">Orbits</h1>
  <p>Welcome to the orbits page.  Listed are the major orbits available for flight plans.</p>
  <p><strong>Note:</strong> during our beta program, only <span class="text-info">admins</span> will have the ability to create/edit orbits.</p>
  <div class="mt-5 mb-4">
    <h3>Available Orbits
      <%= link_to 'Create New Orbit', new_admin_orbit_path, class: 'btn btn-outline-info btn-sm ml-3' if current_user.admin %>
    </h3>
  </div>


  <% @orbits.each do |orbit| %>
    <div class="card mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= orbit.name %></h5>
        <h6 class="card-subtitle mb-4 text-muted"><%= orbit.quick_description %></h6>
        <%= link_to('Edit Orbit', edit_admin_orbit_path(orbit), class: 'btn btn-outline-info btn-block btn-sm') if current_user.admin %>
        <%= link_to('View Orbit', orbit_path(orbit), class: 'btn btn-outline-primary btn-block btn-sm') %>
        <%= link_to('Start Mission', '/', class: 'btn btn-primary btn-block') %>
        
      </div>
    </div>
  <% end %>
</section>
