<div class="container-md text-center p-5">
  <%# Header Intro %>
  <%= render 'welcome_header' %>

  <%# Login Card %>
  <div class="mt-5 mb-4 w-50 mx-auto shadow-sm p-5 bg-white rounded-lg border border-light">
    <%# Login Via Github %>
    <%= link_to 'Login with GitHub', '/auth/github', class: "btn btn-primary btn-block" %>
    <p class="my-3 text-muted">OR</p>
    
    <%# Load Errors Partial %>
    <%= render partial: 'form_errors', locals: {object: @user} %>
    
    <%# Login Form %>
    <%= render partial: 'login_form', locals: {user: @user} %>
  </div>

  <%# Section Footer %>
  <%= render partial: 'onboarding_footer' %>
</div>
