<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-white sidebar">
  <div class="sidebar-sticky pt-3">
    
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      welcome, <%= current_user.username %>
    </h6>
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to 'My Missions', '/', class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Rockets', rockets_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Spaceports', spaceports_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Orbits', orbits_path, class: 'nav-link' %>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      Info
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <%= link_to 'About', about_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'GitHub (original project)', 'https://github.com/LauncherSpace/Launcher-Calculator', target: '_blank', class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Discord', 'https://discord.com/invite/2rcRQTK', target: '_blank', class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>