<div class='container-fluid'>
  <div class='row'>
    <div class='col-1 bg-white border-right border-secondary'>
      <nav class='pt-2'>
        <div class='pb-3'>
          <h4>Launcher Calculator</h4>
        </div>
        <div class='pb-3'>
          <%= link_to 'My Missions', '/' %>
          <%= link_to 'Rockets', '/' %>
          <%= link_to 'Spaceports', '/' %>
          <%= link_to 'Orbits', '/' %>
        </div>

        <div class='pb-3 mb-5'>
          <%= link_to 'About', about_path %>
          <%= link_to 'Github', 'https://github.com/LauncherSpace/Launcher-Calculator', target: '_blank' %>
          <%= link_to 'Discord', 'https://discord.com/invite/2rcRQTK', target: '_blank' %>
        </div>

        <div class='pb-3'>
          <%= link_to('Admin Panel', '/admin')if @user.admin %>
        </div>

        <div class='pb-3'>
          <%= link_to 'Logout', logout_path, class: 'btn btn-block btn-sm btn-outline-danger' %>
        </div>
        

      <nav>
      
    </div>
    <div class='col-11'>
      <h1>Welcome back <span class="text-primary">@<%= @user.username %></span></h1>
      
    </div>

  </div>
    <div id="content">
      
    <div>
</div>





